<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <style type="text/css">
            html { height: 100% }
            body { height: 100%; margin: 0; padding: 0 }
            #map-canvas { height: 100% }
        </style>
        <link href="http://dimsemenov.com/plugins/magnific-popup/site-assets/all.min.css?v=0.9.9" rel="stylesheet" />
        <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/main.css">
    </head>

    <body>

        <form class="form-inline js-form-maps" role="form">
            <div class="form-group">
                <label class="control-label" for="start">Partenza</label>
                <input type="text" class="form-control" id="start" value="via Ospedale, 121 Cagliari" size="50">
            </div>
            <div class="form-group">
                <label class="control-label">Arrivo</label>
                <select class="form-control js-form-maps-end">
                    <option 
                        value="39.229686, 9.107726, 19"
                        data-coords="39.230203, 9.107526, 39.230514, 9.107891, 39.229883, 9.108100, 39.229837, 9.107790, 39.230041, 9.107548, 39.230203, 9.107526"
                        data-plan="ING-laboratorio-software.jpg">
                        Ingegneria - Laboratorio Software
                    </option>
                    <option 
                        value="39.229686, 9.107726, 19"
                        data-coords="39.230203, 9.107526, 39.230514, 9.107891, 39.229883, 9.108100, 39.229837, 9.107790, 39.230041, 9.107548, 39.230203, 9.107526"
                        data-plan="ING-laboratorio-multifunzionale.jpg">
                        Ingegneria - Laboratorio Multifunzionale
                    </option>
                </select>
            </div>
            <div class="form-group">
                <select id="mode" class="form-control">
                    <option value="DRIVING">Seleziona il mezzo di trasporto</option>
                    <option value="WALKING">A piedi</option>
                    <option value="TRANSIT">Mezzi pubblici</option>
                    <option value="DRIVING">In macchina</option>
                </select>
            </div>


            <div class="info-template hide">
                <div class="info-container">
                    <h4>Planimetria del bloocco Q</h4>
                    <img src="../images/" width="100%">
                </div> 
            </div>


            
            <button type="button" class="btn btn-default js-calc-route">Invio</button>
        </form>

        <!-- TODO take this parameter from a JSON file -->
        <div id="map-canvas">

            <div id="map-option">
                <input name="lat" type="text" value="39.229689">
                <input name="lng" type="text" value="9.107713">
                <input name="zoom" type="text" value="19">
            </div>

            <div id="map-blocks">
                <div class="map-block">

                    <div class="map info-window">

                        <div class="content">
                            <div id="siteNotice"></div>
                            <h1 id="firstHeading" class="firstHeading">Universit&agrave; degli Studi di Cagliari</h1>
                            <div id="bodyContent">
                                <p>Facolt&agrave; di Ingegneria e Architettura, ingresso via Is Maglias.</p>
                                <p>
                                    <a target="_" href="http://facolta.unica.it/ingegneriarchitettura/">
                                        Facolt&agrave; di Ingegneria e Architettura 
                                    </a>
                                </p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>


        <!-- TODO use requirejs to load js module -->
        <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="../js/maps.js"></script>
    </body>
</html>