<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    </style>
    <link href="http://dimsemenov.com/plugins/magnific-popup/site-assets/all.min.css?v=0.9.9" rel="stylesheet" />
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../../bower_components/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <script src="../js/maps.js"></script>
  </head>
  <body>
    <div id="map-canvas"/>
  </body>
</html>
