body { 
	height: 100%;
	margin: 0;
	padding: 0;
}

form.form-map {
	display: none;
	margin-left: 80px;
    margin-top: 10px;
    position: absolute;
    z-index: 999;
}

html { 
	height: 100%;
}

#map-canvas { 
	height: 100% 
}

img.poly-info {
	width: 100%;
}
