body {
	height: 100%;
	margin: 0;
	padding: 0;
}

form.map-form {
	display: none;
	margin-left: 80px;
    margin-top: 10px;
    position: absolute;
    z-index: 999;
    padding: 7px;
    background-color: #fff;
}

html {
	height: 100%;
}

img.poly-info {
	width: 100%;
}

.info-marker {
	font-size: 9pt;
	font-weight: bold;
	min-height: 40px;
	max-width: 200px;
}

.info-window {
	font-size: 11pt;
	min-height: 90px;
	max-width: 250px;
}

.map-canvas {
	height: 100%;
}
